h1 {
    text-align: center;
    border-bottom: 5px solid black;
}
#box {
    display: flex;
    height: 100%;
}
.column {
    width: 33.33333333%;
}
#left {
    margin-right: 5px;
}
#center {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    height: 100%;
}
#right {
    margin-right: 5px;
    margin-left: 5px;
}
img {
    width: 100%;
}
#guess, #restart {
    background: gray;
}
#hangman {
    text-align: center;
}